@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>

body {
/*    font-family: arial, sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;     
    position: fixed;
    z-index: 10;
}

.logo {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

@keyframes comming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    float: left;
    color: white;
    margin-right: 20px;
    line-height: 60px;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation: falldown 0.3s forwards ease;
    -o-animation: falldown 0.3s forwards ease;
    animation: falldown 0.3s forwards ease;
}

@keyframes falldown {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.2s;

}

.menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.menu li:nth-child(4) {
    animation-delay: 0.6s;
}

.menu li:nth-child(5) {
    animation-delay: 0.8s;
}

.menu li:nth-child(6) {
    animation-delay: 1s;
}


.menu li a {
    color: white;
    transition: 0.1s all;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    color: #fb9104;
}

.menu li a:active {
    transform: scale(1.1);
}

main {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 65% no-repeat, url(../img/bg.jpg) top/contain no-repeat;
    position: relative;
    z-index: 9;
    
}

.title__container {
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: title_move 1s ease forwards;
    -o-animation: title_move 1s ease forwards;
    animation: title_move 1s ease forwards;
    -webkit-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@keyframes title_move {
    from {
        margin-left: -500px;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

.title__container h1 {
    font-size: 65px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 30px;
    text-align: center;
    color: #6d7682;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 15px;
    margin: 50px 14px 0px 14px;
    transition: 0.2s all;
    transform: scale(1)
}

.title__container input:hover {
    background: #394a62;
    color: white;
}

.title__container input:active {
    transform: scale(1.1)
}

.aboutme {
    height: 800px;
    width: 100%;
    
}

.aboutme h2 {
   
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    padding-top: 40px;

}

.aboutme h2::after {
    content: "";
    display: flex;
    border-bottom: 4px solid #d17700;
    width: 100px;
    margin: 15px auto;
    

}

#ava {
    width: 200px;
    height: auto;
    margin: 30px auto;
    margin-bottom: 60px;
    animation: ava 5s ease infinite;
    transition: 1s;
}


@keyframes ava {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(360deg);
    }
    to {
        transform: rotate reverse(0deg);
    }
}

.aboutme span {
    display: flex;
    margin: 15px auto;
    justify-content: center;
}

.aboutme input {
    text-align: center;
    font-size: 15px;
    color: #6f707e;
    border: 1px solid #6f707e;
    text-align: center;
    
    background: none;
    padding: 6px 13px 6px 20px;
    
    border-radius: 8px;
    background: url(../img/save.png) no-repeat 3%;
    transition: 0.2s;
    transform: scale(1);
    display: flex;
    margin: auto;
    margin-top: 70px;
}

.aboutme input:active {
    transform: scale(1.05);
}

.aboutme input:hover {
    background: #394a62;
    color: white;
}

.skills {
    width: 100%;
    height: 530px;
    background: url(../img/bg_skills.jpg) no-repeat center/auto;
    
}

.skills h2 {
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    text-align: center;
    padding-top: 40px;
}

.skills h2::after {
    content: "";
    display: flex;
    margin: 0 auto;
    border-bottom: 4px solid #d17700;
    width: 100px;
    
    padding-top: 20px;
}
.skills ul {
    display: flex;
    align-content: center;
    justify-content: center;
}

.skills li {
    margin-top: 120px;
    margin-right: 45px;
    padding-left: 45px;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    transition: 0.3s;
    
}


.skills li:hover {
    transform: scale(1.1);
    margin-top: 110px;

}

.skills span {
    color: #cf7600;
    font-weight: bold;
}

.skills img {
    margin-bottom: 15px;
}

.keys {
    width: 100%;
    height: 1200px;
}

.keys h2 {
    display: flex;
    flex-direction: column;

    
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    padding-top: 80px;
    padding-bottom: 40px;
}

.keys h2::after {
    content: "";
    display: flex;
    border-bottom: 4px solid #d17700;
    width: 100px;
    margin: 0 auto;
    padding-top: 20px;
}

.keys p {
    text-align: center;
}
.keys img {
    display: block;
    width: 70%;
    height: auto;
    max-width: 1000px;
    margin: 30px auto;
    
}

.dop {
    display: inline-block;
    margin-left: 150px;

}
.text {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1000px;
    
}

.keys h3 {
    font-size: 20px;
    margin: 8px 0px;

}

.keys input {
    display: inline-block;
    color: #fff;
    border: 2px solid #63b5ae;
    border-radius: 7px;
    background: #63b5ae;
    padding: 6px 17px;
    margin-top: 10px;
    transition: 0.1s;
}

.keys input:active {
    transform: scale(1.1);
}

.keys input:hover {
    color: black;
    background: #fff;
    border-style: dashed;
}

.dop2 {
   padding-left: 70px;
    display: inline-block
}

.price {
    width: 100%;
    height: 1000px;
}

.price h2 {
    
    
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    text-align: center;
    padding-top: 40px;
}

.price h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 100px;
}

.change {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change select {
    display: flex;
    justify-items: center;
    align-content: center;
    width: 1000px;
    height: 50px;
    background: #eeeeee;
    border: 1px solid #eeeeee;
    color: #737373;
    padding-left: 20px;
    transition: 0.3s all;
}

.change select:hover {
    background: #f8f5f5;
}

.infor {
    font-size: 23px;
    font-weight: bold;
}
.infor::before {
    content: "";
    display: flex;
    border-bottom: solid 5px #d1d1d1;
    width: 750px;
    margin: 30px auto;

}
.number {
    display: block;
    float: right;
    
}
.texto {
    display: block;
    
}




.stata {
    width: 100%;
    height: 600px;
    background: url(../img/bg_stata.jpg)no-repeat fixed center/auto 500px;
}

.stata h2 {
    font-size: 25px;
    font-weight: 600;
    color: #6d747f;
    text-align: center;
    padding-top: 145px;
}

.stata h2::after {
    content: "";
    display: flex;
    margin: 0 auto;
    border-bottom: 4px solid #d17700;
    width: 100px;
    padding-top: 20px;
}
.stata ul {
    display: flex;
    justify-content: center;
}

.stata li {
    float: left;
    margin-top: 9%;
    margin-right: 80px;
    padding-left: 80px;
    line-height: 10px;
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    text-transform: uppercase;
    color: #323e4f;
    font-weight: bold;
    transition: 0.3s;
}

.stata li:hover {
    transform: scale(1.1);
    margin-top: 10%;
}

.stata b {
    font-size: 30px;
}

.stata img {
    margin-bottom: 10px;
}

.otzov {
    width: 100%;
    height: 600px;
}

.otzov h2 {
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    text-align: center;
    padding-top: 40px;
}

.otzov h2::after {
    content: "";
    display: flex;
    margin: 0 auto;
    border-bottom: 4px solid #d17700;
    width: 100px;
    padding-top: 20px;
}

.otzov img {
    display: flex;
    margin: 50px auto;
}

.otzov p {
    text-align: center;

}

.contact {
    width: 100%;
    height: 1000px;
    background: url(../img/bg_contact.jpg) no-repeat top/2000px auto;
}

.contact h2 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.contact p {
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.info {
    display: flex;
    justify-content:space-evenly;
    margin: 50px 0px;
}
.info div {
    float: left;
    color: #fff;
    width: 220px;
    height: 60px;
    margin-top: 20px;
    text-align: center;
}

.contact h4 {
    font-size: 19px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}


#send {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    background: none;
    margin: 0px 0px 0px 300px;
    transition: 0.3s;
}

#send:active {
    transform: scale(1.1);
}

#send:hover {
    background: #fff;
    color: black;
}

.insert {
    background: rgba(255, 255, 255, 0.6);
    color: #5d5d5e;
    margin-bottom: 10px;
    width: 340px;
    height: 30px;
    padding: 0px 10px;

}

.insert:focus {
    background: rgba(255, 255, 255, 0.9);
}

#email {
    margin-left: 20px;
}

#area {
    background: rgba(255, 255, 255, 0.6);
    color: #5d5d5e;
    width: 705px;
    margin-bottom: 10px;
    padding: 10px 10px;

}

#area:focus {
    background: rgba(255, 255, 255, 0.9);
}

.contact form {
    
}
.white_btn{
    color: white
}
.white_btn:visited{
    color: white
}
@media (max-width: 991px) {
    .title__container, .title__container h4, .title__container input {
        color: white;
    }
    .title__container input {
        border: 2px solid white;
    }
    .main {
        position: relative;
    }
    .main::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
        z-index: -1;
    }
    
}
.container h-100 {
    position: relative;
    z-index: 10;
}
@media (max-width: 1200px) {
    .skills li{
/*        display: none;*/
        transform: scale(0.7);
        margin-right: 15px;
        padding-left: 15px;
        
    }
}
