body {
    font-family: arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
}
.logo {
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    margin-left: 200px;
    float: left;
}
.menu {
    float: left; 
    padding-left: 300px;
}
.menu li {
    float: left;
    color: white;
    margin-right: 10px;
    line-height: 60px;
    font-size: 13px;
    text-transform: uppercase;
}
.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 65% no-repeat, url(../img/bg.jpg) top/contain no-repeat;
}
.title__container {
    float: left;
    margin: 300px 0px 0px 200px;
    color: #2c384a;
    text-align: center;
}
.title__container h1 {
    font-size: 50px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}
.title__container input {
    height: 30px;
    text-align: center;
    color: #6d7682;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0 15px;
    margin: 50px 14px 0px 14px;
        
}

.aboutme {
    height: 800px;
    width: 100%;
}
.aboutme h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: 263244;
    padding-top: 40px;
	
}
#ava {
    margin-left: 520px;
    margin-top: 50px;
}
.aboutme span {
    display: inline-block;
    margin: 30px 0px 0px 130px;
}
.aboutme input {
    display: inline-block;
    font-size: 15px;
    color: #6f707e;
    border: 1px solid #6f707e;
    margin: 50px 44%;
    background: none;
    padding: 6px 11px 6px 20px;
    border-radius: 8px;
    background: url(../img/save.png) no-repeat 3%;
}
.skills {
    width: 100%;
    height: 530px;
    background: url(../img/bg_skills.jpg) no-repeat center/auto;
}
.skills h2{
    font-size: 30px;
    font-weight: bold;
    color: 263244;
    text-align: center;
    padding-top: 40px;
}
.skills li {
    float: left;
    margin-top: 13%;
    margin-right: 20px;
    padding-left: 20px;
    line-height: 10px
    font-size: 13px;
    text-transform: uppercase;
}
